<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="app">
        <span>计算结果：{{result}}</span><br>
        <input type="text" v-model="ipt1" @input="change">
        <input type="text" v-model="ipt2" @input="change">
    </div>
</body>
<script src="../vue.js"></script>
<script>
    const vm = new Vue({
        el: '.app',
        data: {
            ipt1: '',
            ipt2: '',
            result: ''
        },
        methods: {
            change() {
                this.result = isNaN(parseInt(this.ipt1) + parseInt(this.ipt2)) ? '请输入数字' : parseInt(this.ipt1) + parseInt(this.ipt2)
            }
        }
    })
</script>

</html>